* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #FAF3E3;
}

/**Challenge 1**/
.challenge1{
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: #000000;
}

.puppy{
    margin-top: 1rem;
    width: 25%;
    border-radius: 10%;
}

/**Challenge 2**/
.challenge2{
    background-color: #1A4D2E;
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.container {
    display: flex;
    text-align: center;
}